<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Account set up - SharePark</title>
  {% include 'head.html' %}
  {% load static %}
  <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
  <div class="element-main">
    <h1>Your account is set up</h1>
    <p>Your account has successfully been set up. You can start using the app from now.</p>
    <a href="sharepark://signin">Open app</a>
  </div>
</body>

</html>
