<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Reset Link Expired - SharePark</title>
  {% include 'head.html' %}
  {% load static %}
  <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
  <div class="element-main">
    <h1>Reset link expired</h1>
    <p>Hi there,<br/>unfortunately the link you clicked does not exist or has expired. Please keep in mind that reset password links are only <strong>valid for one hour</strong> after being sent. If needed you can request a new one in the app.</p>
    <a href="sharepark://signin">Sign in</a>
    <a href="sharepark://forgot">Request new mail in app</a>
  </div>
</body>

</html>
