<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Password Reset - SharePark</title>
  {% include 'head.html' %}
  {% load static %}
  <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
  <div class="element-main">
    <h1>Password successfully reset</h1>
    <p>Your password has successfully been reset. You can now sign in in the app with your new password.</p>
    <a href="sharepark://signin">Open app</a>
  </div>
</body>

</html>
