<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Set up Password - SharePark</title>
  {% include 'head.html' %}
  {% load static %}
  <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
  <div class="element-main">
    <h1>Set your password</h1>
    <p>Thank you for confirming your email address. Please continue by choosing a password.</p>
    <form method="POST">
      {% csrf_token %}
      <div id="password_strength"></div>
      <input type="password" name="password" id="password" placeholder="Enter password" required>
      <input type="password" id="cpassword" placeholder="Repeat password" required>
      <input type="submit" id="submit" value="Set password" disabled>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script>
    function checkPasswords() {
      var regex = /^(?=.*?[0-9])(?=.*?[A-Z])(?=.*?[#?!@$%^&*\-_]).{8,}$/;
      var password = $("#password").val();
      var confirmPassword = $("#cpassword").val();

      if (password.length > 7) {
        if (!regex.test(password)) {
          $('#password_strength').html("Your password should contain at least include <b>one number and special character</b>.")
            .css("color", "#ff0000");
          $("#submit").prop("disabled", true);
          return;
        } else {
          $('#password_strength').html("");
        }
      } else {
        $('#password_strength').html("Your password should at least have <b>8 characters</b>.")
          .css("color", "#ff0000");
        $("#submit").prop("disabled", true);
        return;
      }

      if (password != confirmPassword) {
        $("#submit").prop("disabled", true);
      } else {
        $("#submit").prop("disabled", false);
      }
    }

    $(document).ready(function() {
      $("#password, #cpassword").keyup(checkPasswords);
    });
  </script>
</body>

</html>
