<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Link expired - SharePark</title>
  {% include 'head.html' %}
  {% load static %}
  <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
  <div class="element-main">
    <h1>This link has expired</h1>
    <p>The link you clicked on has expired. If you haven't activated your account, please resend the confirmation email.</p>
    <a href="#">Resend confirmation email</a>
  </div>
</body>

</html>
